[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SMARTbayesR"]
	path = SMARTbayesR
	url = https://github.com/cran/SMARTbayesR
[submodule "smartsizer"]
	path = smartsizer
	url = https://github.com/cran/smartsizer
